apiVersion: apps/v1
kind: Deployment
metadata:
  name: python
  namespace: grupob1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python
  template:
    metadata:
      labels:
        app: python
    spec:
      containers:
        - name: python
          image: sirjousis/pepspython1.0
          ports:
            - containerPort: 8080
          env:
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: grupob1-secret
                  key: DB_USERNAME
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: DB_PASSWORD
            - name: DB_DATABASE
              valueFrom:
                secretKeyRef:
                  name: grupob1-secret
                  key: DB_DATABASE
            - name: DB_HOST
              value: mariadb
            - name: DB_PORT
              value: "3306"
            - name: PORT
              value: "5000"
            - name: HOST
              value: "0.0.0.0"
