apiVersion: v1
kind: PersistentVolume
metadata:
  name: grupob1-pv
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Delete
  storageClassName: manual
  hostPath:
    path: /mnt/data/grupob1

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grupob1-pvc
  namespace: grupob1
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: manual
  resources:
    requests:
      storage: 1Gi